@page
@model CmsHeadless.Pages.Tag.ViewTagModel;

@{
    ViewData["Title"] = "Tags";
}
<div class="row justify-content-between">
    <div class="col-4">
        <h1>Tags</h1>
    </div>
    <div class="col-4">
        <form>
            <p>
                Search: <input type="text" name="searchString" />
                <span class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </span>
            </p>
        </form>
    </div>
</div>
<table class="table table-striped table-bordered" id="tagList">
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Url</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
        @{
            if(Model.TagList!=null){
            int k=1+(Model.TagList.PageIndex-1)*IndexModel.numberPage ;
                    @foreach (var item in Model.TagList)
                {
                    <tr>
                        <th scope="row">
                            @k
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            <a asp-page="./EditTag" asp-route-id="@item.TagId">Edit</a> |
                                                         
                            <a asp-page="./ViewTag" asp-page-handler="Delete" asp-route-tagId="@item.TagId">Delete</a>
                        </td>
                    </tr>
                    k++;
                }
            }
            else
            {
                <h1>C'è stato un problema relativo al database. Ricaricare la pagina</h1>
                return;
            }
       }

  </tbody>
</table>

@if(IndexModel.lastDelete>0 && ModelState.ErrorCount == 0)
{
    <div class="alert alert-success" role="alert">
        <p>Tag eliminato con successo</p>
    </div>
}
else if(IndexModel.lastDelete==0 && ModelState.ErrorCount != 0)
{
    <div class="alert alert-danger" role="alert">
        <p>Errore nell'eliminazione'</p>
    </div>
}

@{
    
    var prevDisabled = !Model.TagList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.TagList.HasNextPage ? "disabled" : "";
}

<a href="/Tag/ViewTag?pageIndex=@(Model.TagList.PageIndex - 1)&searchString=@IndexModel.searchString"
class="btn btn-default @prevDisabled">
        Previous
</a>

<a href="/Tag/ViewTag?pageIndex=@(Model.TagList.PageIndex + 1)&searchString=@IndexModel.searchString"
class="btn btn-default @nextDisabled">
        Next
</a>


@{
    IndexModel.lastCreate = 0;
    IndexModel.lastDelete = 0;
    ViewTagModel.searchString = null;
}