@page
@model CmsHeadless.Pages.Typology.IndexModel
@{
}

<div class="col-12 col-xl-4 custom-form-border">
    <form method="post"  class="custom-form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="_formTypologyModel.TypologyName" class="control-label"></label>
            <input asp-for="_formTypologyModel.TypologyName" class="form-control textForm" required/>
            <span asp-validation-for="_formTypologyModel.TypologyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" asp-page-handler="Create" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

        @{
    if(IndexModel.lastCreate>0 && ModelState.ErrorCount == 0)
    {
        <div class="alert alert-success" role="alert">
            <p>Tipologia inserito con successo</p>
        </div>
    }
}
@if(ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
    </div>
}


<div class="row justify-content-between">
    <div class="col-4">
        <h1>Lista Typology</h1>
    </div>
    <div class="col-4">
        <form>
            <p>
                Search: <input type="text" name="searchString" />
                <span class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </span>
            </p>
        </form>
    </div>
</div>
<table class="table table-striped table-bordered" id="typologyList">
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
        @{
            if(Model.TypologyList!=null){
            int k=1+(Model.TypologyList.PageIndex-1)*IndexModel.numberPage ;
                    @foreach (var item in Model.TypologyList)
                {
                    <tr>
                        <th scope="row">
                            @k
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-page="./EditTypology" asp-route-id="@item.Id">Edit</a> |
                                                         
                            <a asp-page="index" asp-page-handler="Delete" asp-route-typologyId="@item.Id">Delete</a>
                        </td>
                    </tr>
                    k++;
                }
            }
            else
            {
                <h1>C'è stato un problema relativo al database. Ricaricare la pagina</h1>
                return;
            }
       }

  </tbody>
</table>

@if(IndexModel.callDelete==true && IndexModel.lastDelete>0 && ModelState.ErrorCount == 0)
{
    <div class="alert alert-success" role="alert">
        <p>Tipologia eliminata con successo</p>
    </div>
}
else if(IndexModel.callDelete==true && IndexModel.lastDelete==0 && ModelState.ErrorCount != 0)
{
    <div class="alert alert-danger" role="alert">
        <p>Errore nell'eliminazione'</p>
    </div>
}

@{
    
    var prevDisabled = !Model.TypologyList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.TypologyList.HasNextPage ? "disabled" : "";
}

    <a href="/Typology/Index?pageIndex=@(Model.TypologyList.PageIndex - 1)&searchString=@IndexModel.searchString"
   class="btn btn-default @prevDisabled">
            Previous
    </a>

    <a href="/Typology/Index?pageIndex=@(Model.TypologyList.PageIndex + 1)&searchString=@IndexModel.searchString"
   class="btn btn-default @nextDisabled">
            Next
    </a>


@{
    IndexModel.lastCreate = 0;
    IndexModel.lastDelete = 0;
    IndexModel.searchString = null;
    IndexModel.callDelete = false;
}