@page
@model CmsHeadless.Pages.Content.EditContentModel
@{
}
<div class="col-12 col-xl-12 custom-form-border">
    <form method="post"  class="row custom-form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 col-xl-6">
            <div class="form-group">
                <label asp-for="_formEditContentModel.Title" class="control-label"></label>
                <input asp-for="_formEditContentModel.Title" class="form-control textForm" required value="@Model.content.Title"/>
                <span asp-validation-for="_formEditContentModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_formEditContentModel.Media" class="control-label"></label>
                <input asp-for="_formEditContentModel.Media" class="form-control textForm" value="@Model.content.Media"/>
                <span asp-validation-for="_formEditContentModel.Media" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_formEditContentModel.Description" class="control-label"></label>
                <input asp-for="_formEditContentModel.Description" class="form-control textForm" value="@Model.content.Description"/>
                <span asp-validation-for="_formEditContentModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_formEditContentModel.Text" class="control-label"></label>
                <input asp-for="_formEditContentModel.Text" class="form-control textForm" value="@Model.content.Text" required/>
                <span asp-validation-for="_formEditContentModel.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_formEditContentModel.PubblicationDate" class="control-label">Pubblication Date</label>
                <input asp-for="_formEditContentModel.PubblicationDate" class="form-control dateForm" value="@Model.PubblicationDateString"/>
                <span asp-validation-for="_formEditContentModel.PubblicationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-xl-2 form-group">
            <label asp-for="_formEditContentModel.ContentAttributes" class="control-label">Attributes</label>
            <select asp-for="_formEditContentModel.ContentAttributes" class="form-select selectForm" multiple size="15">
                @{
                    foreach(var i in Model.AttributesAvailable)
                    {
                        if (@Model.AttributesSelected!=null && @Model.AttributesSelected.Contains(i.AttributesId))
                        {
                                        <option selected value="@i.AttributesId" id="@i.AttributesId">@i.AttributeName</option>
                        }
                        else
                        {
                                        <option value="@i.AttributesId" id="@i.AttributesId">@i.AttributeName</option>                            
                        }
                    }
                }
            </select>
            <span asp-validation-for="_formEditContentModel.ContentAttributes" class="text-danger"></span>
        </div>
        <div class="col-12 col-xl-2 form-group">
            <label asp-for="_formEditContentModel.ContentCategory" class="control-label">Categories</label>
            <select asp-for="_formEditContentModel.ContentCategory" class="form-select selectForm" multiple size="15">
                @{
                    foreach(var i in Model.CategoryAvailable)
                    {
                        if (@Model.CategorySelected!=null && @Model.CategorySelected.Contains(i.CategoryId))
                        {
                                        <option selected value="@i.CategoryId" id="@i.CategoryId">@i.Name</option>
                        }
                        else
                        {
                                        <option value="@i.CategoryId" id="@i.CategoryId">@i.Name</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="_formEditContentModel.ContentCategory" class="text-danger"></span>
        </div>
        <div class="col-12 col-xl-2 form-group">
            <label asp-for="_formEditContentModel.ContentTag" class="control-label">Tags</label>
            <select asp-for="_formEditContentModel.ContentTag" class="form-select selectForm" multiple size="15">
                @{
                    foreach(var i in Model.TagAvailable)
                    {
                        if (@Model.TagSelected!=null && @Model.TagSelected.Contains(i.TagId))
                        {
                                        <option selected value="@i.TagId" id="@i.TagId">@i.Name</option>
                        }
                        else
                        {
                                        <option value="@i.TagId" id="@i.TagId">@i.Name</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="_formEditContentModel.ContentTag" class="text-danger"></span>
        </div>
        <div class="col-12 col-xl-6">
            <div class="form-group">
                <label asp-for="_formEditContentModel.InsertionDate" class="control-label">Insertion Date</label>
                <input asp-for="_formEditContentModel.InsertionDate" class="form-control dateForm" value="@Model.InsertionDateString" readonly/>
                <span asp-validation-for="_formEditContentModel.InsertionDate" class="text-danger"></span>
            </div>
            @if (@Model.content.LastEdit!=null)
            {
                <div class="form-group">
                    <label asp-for="_formEditContentModel.lastEdit" class="control-label">Last Edit</label>
                    <input asp-for="_formEditContentModel.lastEdit" class="form-control dateForm" value="@Model.lastEditString" readonly/>
                    <span asp-validation-for="_formEditContentModel.lastEdit" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="col-12 row">
            <div class="col-12 col-xl-3 form-group">
                <label asp-for="_formEditContentModel.NationAdd" class="control-label">Nation</label>
           
                <select id="NationSelectContentAdd" asp-for="_formEditContentModel.NationAdd" class="form-select selectForm">
                    <option value="-1">Select Nation</option>
                    @{
                        foreach(var i in Model.NationAvailable)
                        {
                            if (i.NationIsActive)
                            {
                                             <option value="@i.NationId" id="@i.NationId">@i.NationName</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="_formEditContentModel.NationAdd" class="text-danger"></span>
            </div>

            <div class="col-12 col-xl-3 form-group">
                <label asp-for="_formEditContentModel.RegionAdd" class="control-label">Region</label>
                <select id="RegionSelectContentAdd" asp-for="_formEditContentModel.RegionAdd" class="form-select selectForm" disabled="disabled">
                
                </select>
                <span asp-validation-for="_formEditContentModel.RegionAdd" class="text-danger"></span>
            </div>

            <div class="col-12 col-xl-3 form-group">
                <label asp-for="_formEditContentModel.ProvinceAdd" class="control-label">Province</label>
                <select id="ProvinceSelectContentAdd" asp-for="_formEditContentModel.ProvinceAdd" class="form-select selectForm" disabled="disabled">
                
                </select>
                <span asp-validation-for="_formEditContentModel.ProvinceAdd" class="text-danger"></span>
            </div>

            <div class="col-12  col-xl-3 form-group">
                <label asp-for="_formEditContentModel.CityAdd" class="control-label">City</label>
                <input id="CitySelectContentAdd" asp-for="_formEditContentModel.CityAdd" class="form-control textForm" disabled="disabled"/>
                <span asp-validation-for="_formEditContentModel.CityAdd" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input asp-page-handler="Edit" asp-route-contentId="@EditContentModel.EditContentId" type="submit" value="Edit" class="btn btn-primary" />
        </div>
        <p> </p>
        

        @if((EditContentModel.lastEdit>0 || EditContentModel.lastEditAttributes>0 || EditContentModel.lastEditCategory>0 || EditContentModel.lastEditTag>0 || EditContentModel.lastEditLocation>0) && ModelState.ErrorCount == 0 && EditContentModel.callDelete==false)
            {
                <div class="alert alert-success" role="alert">
                    <p>Content modificato con successo</p>
                </div>
            }
        @if(ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
            </div>
        }
    </form>

    
</div>

<div class="col-12 col-xl-12 custom-form-border">
    <form method="post"  class="row custom-form" enctype="multipart/form-data">
        <h5>Seleziona i luoghi da eliminare</h5>
        <div class="col-12 col-xl-6 form-group">
            <label asp-for="_formDeleteContentModel.LocationDelete" class="control-label">Locations</label>
            <select asp-for="_formDeleteContentModel.LocationDelete" class="form-select selectForm" multiple >
                @{
                    foreach(var location in Model.LocationsOfContent)
                    {
                        string tempString=null;
                        if (location.Nation != null)
                        {
                            tempString = location.Nation.NationName;
                            if (location.Region != null)
                            {
                                tempString+=", "+ location.Region.RegionName;
                                if (location.Province != null)
                                {
                                    tempString += ", " + location.Province.ProvinceName;
                                }
                                if (location.City != null)
                                {
                                    tempString += ", " + location.City;
                                }
                            }
                        }
                        <option value="@location.LocationId" id="@location.LocationId">@tempString</option>
                    }
                }
            </select>
            <span asp-validation-for="_formDeleteContentModel.LocationDelete" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input asp-page-handler="Delete" asp-route-contentId="@EditContentModel.EditContentId" type="submit" value="Delete" class="btn btn-primary" />
        </div>

        @{
            if(EditContentModel.callDelete==true && ModelState.ErrorCount == 0 && EditContentModel.lastDeleteLocation>0)
            {
                    <div class="alert alert-success" role="alert">
                        <p>Luoghi eliminati con successo</p>
                    </div>
            }
            if(EditContentModel.callDelete==true && ModelState.ErrorCount > 0)
        {
                <div class="alert alert-danger" role="alert">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
                </div>
        }
        }
    </form>
</div>

<a href="../Content/">Return to content pages</a>
    @section Scripts{
    <script type="text/javascript">

$(document).ready(function(){
    $("#NationSelectContentAdd").change(function() {
        var selectedNation = $("#NationSelectContentAdd option:selected").val();
        $("#RegionSelectContentAdd").empty();
        $("#ProvinceSelectContentAdd").empty();
        $("#ProvinceSelectContentAdd").attr('disabled','disabled');
        $("#CitySelectContentAdd").attr('disabled','disabled');
        $("#CitySelectContentAdd").val("");
        if (selectedNation == -1) {
            $("#RegionSelectContentAdd").attr('disabled','disabled');
            return;
        }
        $("#RegionSelectContentAdd").removeAttr('disabled'); 
        
        $.ajax({
            type: "GET",
            url: '@Url.Action("LoadRegion")',
            dataType: 'json',
            data: {
                id: parseInt(selectedNation)
            },
            success: function(states) {
                $("#RegionSelectContentAdd").append(
                    '<option value="' + -1 + '">' + "Select Region" + '</option>');

                $.each(states, function(i, state) {
                    $("#RegionSelectContentAdd").append(
                        '<option value="' + state.RegionId + '">' + state.RegionName + '</option>');
                });
            }
        });
    });
});


$(document).ready(function(){
    $("#RegionSelectContentAdd").change(function() {
        var selectedRegion = $("#RegionSelectContentAdd option:selected").val();
        $("#ProvinceSelectContentAdd").empty();
        $("#CitySelectContentAdd").attr('disabled','disabled');
        $("#CitySelectContentAdd").val("");
        if (selectedRegion == -1) {
            $("#ProvinceSelectContentAdd").attr('disabled','disabled');
            return;
        }
        $("#ProvinceSelectContentAdd").removeAttr('disabled');
        
        $.ajax({
            type: "GET",
            url: '@Url.Action("LoadProvince")',
            dataType: 'json',
            data: {
                id: parseInt(selectedRegion)
            },
            success: function(states) {
                $("#ProvinceSelectContentAdd").append(
                    '<option value="' + -1 + '">' + "Select Province" + '</option>');

                $.each(states, function(i, state) {
                    $("#ProvinceSelectContentAdd").append(
                        '<option value="' + state.ProvinceId + '">' + state.ProvinceName + '</option>');
                });
            }
        });
    });
});


$(document).ready(function(){
    $("#ProvinceSelectContentAdd").change(function() {
        var selectedProvince = $("#ProvinceSelectContentAdd option:selected").val();
        $("#CitySelectContentAdd").val("");
        if (selectedProvince == -1) {
            $("#CitySelectContentAdd").attr('disabled','disabled');
            return;
        }
        $("#CitySelectContentAdd").removeAttr('disabled');
    });
});

</script>
}


@{
    EditContentModel.lastEdit = 0;
    EditContentModel.lastEditAttributes = 0;
    EditContentModel.lastEditCategory = 0;
    EditContentModel.lastEditTag = 0;
    EditContentModel.lastEditLocation = 0;
    EditContentModel.lastDeleteLocation = 0;
    EditContentModel.callDelete = false;
}