@page
@model CmsHeadless.Pages.POI.ViewPOIModel
@{
    ViewData["Title"] = "POIs";
}
<div class="row justify-content-between">
    <div class="col-4">
        <h1>Points Of Interest</h1>
    </div>
    <div class="col-4">
        <form>
            <p>
                Search: <input type="text" name="searchString" />
                <span class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </span>
            </p>
        </form>
    </div>
</div>
<table class="table table-striped table-bordered" id="attributesList">
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
        @{
            if(Model.POIList!=null){
            int k=1+(Model.POIList.PageIndex-1)*IndexModel.numberPage ;
                    @foreach (var item in Model.POIList)
                {
                    <tr>
                        <th scope="row">
                            @k
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.AttributeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AttributeValue)
                        </td>
                        <td>
                            <a asp-page="./EditPOI" asp-route-id="@item.AttributesId" asp-route-value="@item.AttributeValue">Edit</a> |
                                                         
                            <a asp-page="./ViewPOI" asp-page-handler="Delete" asp-route-attributesId="@item.AttributesId">Delete</a>
                        </td>
                    </tr>
                    k++;
                }
            }
            else
            {
                <h1>C'è stato un problema relativo al database. Ricaricare la pagina</h1>
                return;
            }
       }

  </tbody>
</table>

@if(IndexModel.lastDelete>0 && ModelState.ErrorCount == 0)
{
    <div class="alert alert-success" role="alert">
        <p>POI eliminato con successo</p>
    </div>
}
else if(IndexModel.lastDelete==0 && ModelState.ErrorCount != 0)
{
    <div class="alert alert-danger" role="alert">
        <p>Errore nell'eliminazione'</p>
    </div>
}

@{
    
    var prevDisabled = !Model.POIList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.POIList.HasNextPage ? "disabled" : "";
}

<a href="/POI/ViewPOI?pageIndex=@(Model.POIList.PageIndex - 1)&searchString=@IndexModel.searchString"
class="btn btn-default @prevDisabled">
        Previous
</a>

<a href="/POI/ViewPOI?pageIndex=@(Model.POIList.PageIndex + 1)&searchString=@IndexModel.searchString"
class="btn btn-default @nextDisabled">
        Next
</a>

@{
    IndexModel.lastCreate = 0;
    IndexModel.lastDelete = 0;
    ViewPOIModel.searchString = null;
}