@page
@model CmsHeadless.Pages.Category.ViewCategoryModel;

@{
    ViewData["Title"] = "Categories";
}

<div class="row justify-content-between">
    <div class="col-4">
        <h1>Categories</h1>
    </div>
    <div class="col-4">
        <form>
            <p>
                Search: <input type="text" name="searchString" />
                <span class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </span>
            </p>
        </form>
    </div>
</div>
<table class="table table-striped table-bordered" id="categoryList">
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Image</th>
      <th scope="col">Modifies</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
        @{
            if(Model.CategoryList!=null){
            int k=1+(Model.CategoryList.PageIndex-1)*ViewCategoryModel.numberPage ;
                    @foreach (var item in Model.CategoryList)
                {
                        <tr>
                            <th scope="row">
                                @k
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                <img style="max-height:100px" src="@Html.DisplayFor(modelItem => item.Media)" alt="image not available"/>
                            </td>
                            <td>
                                    <a asp-page="./EditCategory" asp-route-id="@item.CategoryId">Edit</a> |
                                                         
                                    <a asp-page="./ViewCategory" asp-page-handler="Delete" asp-route-categoryId="@item.CategoryId">Delete</a>
                            </td>
                        </tr>
                    k++;
                }
            }
            else
            {
                <h1>C'è stato un problema relativo al database. Ricaricare la pagina</h1>
                return;
            }
       }

  </tbody>
</table>

@if(ViewCategoryModel.lastDelete>0 && ModelState.ErrorCount == 0)
{
    <div class="alert alert-success" role="alert">
        <p>Categoria eliminata con successo</p>
    </div>
}

@{
    
    var prevDisabled = !Model.CategoryList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.CategoryList.HasNextPage ? "disabled" : "";
}

    <a href="/Category/ViewCategory?pageIndex=@(Model.CategoryList.PageIndex - 1)&searchString=@IndexModel.searchString"
   class="btn btn-default @prevDisabled">
            Previous
    </a>

    <a href="/Category/ViewCategory?pageIndex=@(Model.CategoryList.PageIndex + 1)&searchString=@IndexModel.searchString"
   class="btn btn-default @nextDisabled">
            Next
    </a>

@{
    ViewCategoryModel.lastDelete = 0;
    ViewCategoryModel.searchString = null;
}