@page
@model CmsHeadless.Pages.Attributes.EditAttributesModel
@{
}

<div class="col-12 col-xl-4 custom-form-border">
    <form method="post"  class="custom-form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 form-group">
            <label asp-for="_formEditAttributesModel.AttributeName" class="control-label">Name</label>
            <input asp-for="_formEditAttributesModel.AttributeName" class="form-control textForm" required value="@Model.attributes.AttributeName"/>
            <span asp-validation-for="_formEditAttributesModel.AttributeName" class="text-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="_formEditAttributesModel.AttributeValue" class="control-label">Value</label>
            <input asp-for="_formEditAttributesModel.AttributeValue" class="form-control textForm" required value=@Model.attributes.AttributeValue/>
            <span asp-validation-for="_formEditAttributesModel.AttributeValue" class="text-danger"></span>
        </div>
        <div class="col-6 form-group">
            <label asp-for="_formEditAttributesModel.Typology" class="control-label">Typologies</label>
            <select asp-for="_formEditAttributesModel.Typology" class="form-select selectForm" multiple size="7">
                @{
                    foreach(var i in Model.TypologyAvailable)
                    {
                        if (@Model.TypologySelected!=null && @Model.TypologySelected.Contains(i.Id))
                        {
                             <option selected value="@i.Id" id="@i.Id">@i.Name</option>
                        }
                        else
                        {
                             <option value="@i.Id" id="@i.Id">@i.Name</option>                            
                        }
                         
                    }
                }
            </select>
            <span asp-validation-for="_formEditAttributesModel.Typology" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" asp-page-handler="Edit" asp-route-attributesId="@EditAttributesModel.EditAttributesId" value="Edit" class="btn btn-primary" />
        </div>
        @if((EditAttributesModel.lastEditTypology>0 || EditAttributesModel.lastEdit>0) && ModelState.ErrorCount == 0)
            {
                <div class="alert alert-success" role="alert">
                    <p>Attributo inserito con successo</p>
                </div>
            }
        @if(ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
            </div>
        }
    </form>
</div>

<a href="../Attributes/">Return to attributes pages</a>

@{
    EditAttributesModel.lastEdit = 0;
    EditAttributesModel.lastEditTypology = 0;
}